In [1]:
import pickle 
import json
import pandas as pd
from pandas.io.json import json_normalize

In [2]:
#Importing the file and applying the json_normalize funtion to the info
# we want in the dictinoary (placed in the route that I used)
file1 = open('ratings_1.pkl', 'rb')
file2 = open('ratings_2.pkl', 'rb')
file3 = open('ratings_3.pkl', 'rb')
data1 = pickle.load(file1)
data2 = pickle.load(file2)
data3 = pickle.load(file3)

In [3]:
#Iterating trough the dictionary keys to get all of the restaurants
food_data1 = []
emptydf = pd.DataFrame()
for i in range (0, len(data1)):
    try:
        datadf = pd.io.json.json_normalize(data1[i]['response']['groups'][0]['items'][0]['venue'])
    except IndexError:
        datadf = emptydf
    food_data1.append(datadf)    
food_df1 = pd.concat(food_data1)

In [4]:
#Iterating trough the dictionary keys to get all of the restaurants
food_data2 = []
emptydf = pd.DataFrame()
for i in range(len(data1), (len(data1)+len(data2))):
    try:
        datadf = pd.io.json.json_normalize(data2[i]['response']['groups'][0]['items'][0]['venue'])
    except Exception:
        pass
    except IndexError:
        datadf = emptydf
    food_data2.append(datadf)    
food_df2 = pd.concat(food_data2)

In [5]:
#Iterating trough the dictionary keys to get all of the restaurants
food_data3 = []
emptydf = pd.DataFrame()
for i in range(12000, 18689):
    try:
        datadf = pd.io.json.json_normalize(data3[i]['response']['groups'][0]['items'][0]['venue'])
    except Exception:
        pass
    except IndexError:
        datadf = emptydf
    food_data3.append(datadf)    
food_df3 = pd.concat(food_data3)

In [6]:
#Printing all the columns for the extracted dataframes
food_df1.columns

Index([          u'allowMenuUrlEdit',                 u'categories',
                 u'contact.facebook',       u'contact.facebookName',
         u'contact.facebookUsername',     u'contact.formattedPhone',
                    u'contact.phone',            u'contact.twitter',
                      u'delivery.id',     u'delivery.provider.name',
                     u'delivery.url',               u'events.count',
                     u'events.items',             u'events.summary',
                          u'hasMenu',              u'hereNow.count',
                   u'hereNow.groups',            u'hereNow.summary',
             u'hours.isLocalHoliday',               u'hours.isOpen',
                     u'hours.status',                         u'id',
                 u'location.address',                u'location.cc',
                    u'location.city',           u'location.country',
             u'location.crossStreet',          u'location.distance',
        u'location.formattedAddress',               u'location.lat',
                     u'location.lng', u'location.mayNotNeedAddress',
            u'location.neighborhood',        u'location.postalCode',
                   u'location.state',                u'menu.anchor',
                 u'menu.externalUrl',                 u'menu.label',
                   u'menu.mobileUrl',                  u'menu.type',
                         u'menu.url',                       u'name',
                     u'photos.count',              u'photos.groups',
                   u'price.currency',              u'price.message',
                       u'price.tier',                     u'rating',
                      u'ratingColor',              u'ratingSignals',
              u'stats.checkinsCount',             u'stats.tipCount',
                 u'stats.usersCount',                    u'storeId',
                              u'url',               u'venuePage.id',
                         u'verified'],
      dtype='object')

In [7]:
#Subsetting the columns we want
food_df1 = food_df1[['name', 'rating', 'stats.checkinsCount', 'price.message']]
food_df2 = food_df2[['name', 'rating', 'stats.checkinsCount', 'price.message']]
food_df3 = food_df3[['name', 'rating', 'stats.checkinsCount', 'price.message']]

In [8]:
#Resetting the index and deleting the previous index column
food_df1 = food_df1.reset_index()
del food_df1['index']
food_df2 = food_df2.reset_index()
del food_df2['index']
food_df3 = food_df3.reset_index()
del food_df3['index']

In [9]:
#Printing the resultant frame (1st part)
food_df1.head()

                      name  rating  stats.checkinsCount price.message
0    Morris Park Bake Shop     NaN                  159         Cheap
1                  Wendy's     6.0                  521      Moderate
2              McGee's Pub     7.8                19611      Moderate
3         Riviera Caterers     NaN                  400           NaN
4  Brunos On the Boulevard     7.4                  624           NaN

In [10]:
#Joining the three parts of the data
food_int = food_df1.append([food_df2, food_df3], ignore_index=True)

In [11]:
#printing final frame head
food_int.head(10)

                      name  rating  stats.checkinsCount price.message
0    Morris Park Bake Shop     NaN                  159         Cheap
1                  Wendy's     6.0                  521      Moderate
2              McGee's Pub     7.8                19611      Moderate
3         Riviera Caterers     NaN                  400           NaN
4  Brunos On the Boulevard     7.4                  624           NaN
5       Wilkens Fine Foods     NaN                  261         Cheap
6        Taste the Tropics     7.8                  724         Cheap
7       Wild Asia Monorail     6.6                 1832           NaN
8       1 East 66th Street     NaN                    1           NaN
9                    Seuda     NaN                   16      Moderate

In [12]:
#Printing the final frame lenght
len(food_int)

18673